.hautPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--espacement_general);
}

.hautPage__titre {
  font-size: var(--texte_gros);
}

.hautPage__shoppingCart {
  font-size: var(--texte_gros);
}
